@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(61, 72, 98);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display:block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    #userInput{
     
        border: 1px solid #ccc;
        border-radius: 25px;
        margin: 10px 0;
        padding: 15px 40px;

    }

    .submitBtn{
      
        padding: 12px 15px;
        border: none;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .skipBtn{
        padding: 12px 15px;
        border: none;
        border-radius: 15px;
        background-color: rgb(215 215 215);
        color: black;
        font-size: 16px;
        cursor: pointer;
    }
    .resetBtn{
      
        padding: 12px 15px;
        border: none;
        border-radius: 15px;
        background-color: rgb(197 9 9);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .finishBtn{
        padding: 12px 15px;
        border: none;
        border-radius: 15px;
        background-color: rgb(7, 104, 15);
        color: white;
        font-size: 16px;
        cursor: pointer;
        display: none;
        }

    #signup{
        display: none;

    }

    #signup p{
        margin-top: 20px;
    }

    #signup h1{
        margin-bottom: 20px;
        text-align: center;
    }

    .inputContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputContainer i{
        position: absolute;
        top: 31%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 18px;
    }



    /* Home */
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    .header{
        display: none;
        justify-content: space-between;
        width: 90%;
        padding: 20px;
        background-color: black;
        color: white;
    }
    .home h4{
        font-size: 20px;
    }
    .selector{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .selector select{
        width: 80%;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid purple;
    }


    .btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btns button{
        margin:  10px;
    }


    .questions{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin-top: 20px;
    }

    .questions h2 {
        margin: 0 20PX 15PX 20px;
        font-size: 18px;
    }
    .answers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 20px 0px;
    }
    .answer{
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        font-size: 13px;
        width: 40%;
        border: 2px solid purple;
        cursor: pointer;
    }

    #next{
        display: none;
    }


    
    #offline {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Adjust as needed */
        text-align: center;
        padding: 20px;
        background-color: #ffffff; /* Optional: change background color */
    }
    
    #offline i {
        position: relative;
        font-size: 48px; /* Adjust size as needed */
        color: #333; /* Icon color */
        margin-bottom: 10px;
    }
    
    #offline i::after {
        content: '';
        position: absolute;
        top: 44%;
        left: -3px;
        width: 100%;
        height: 2px;
        background-color: red;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: center;
    }
    
    #offline h3 {
        margin: 10px 0;
        color: #555; /* Text color */
    }
    
    #offline a {
        color: #ffffff; 
        text-decoration: none;
        background-color: #454545;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 15px;
    }
    
    #offline a:hover {
        text-decoration: underline;
    }
    